<div class="page page-home">
	<div class="personagem">
		<img alt="personagem" class="personagem-img" src="<%= image_path('personagem.png') %>">
	</div>
	<header class="page-header d-flex justify-content-end">
		<h1 class="page-title">Hábitos Saudáveis e <br> IMC</h1>
	</header>
	<div class="div-container">

		<div class="row justify-content-end">
			<div class="col-lg-9">
				<div class="row justify-content-end">
					<div class="col-lg-5 p-0 align-self-center mr-4">
						<p class="page-description">
							O índice de massa corpórea (IMC), é utilizado para relacionar o peso
							de um indivíduo relacionado a sua altura e definir se este está no
							peso ideal, abaixo do peso ideal, com sobrepeso ou obeso.
						</p>

						<p class="page-description">
							O questionário a seguir mostrará se sua alimentação, associada ao IMC, é ou 
							não saudável, com base em 6 alimentos que trazem diferentes reações ao organismo.
						</p>
					</div>

					<div class="col-lg-5 p-0 d-flex justify-content-end">
						<div class="food-container d-grid">
							<div class="food banana">
								<img alt="banana" class="food-img" src="<%= image_path('banana.png') %>">
							</div>
							<div class="food batata">
								<img alt="batata" class="food-img" src="<%= image_path('batata-doce.png') %>">
							</div>
							<div class="food peixe">
								<img alt="peixe" class="food-img" src="<%= image_path('peixe.png') %>">
							</div>

							<div class="food fritura">
								<img alt="fritura" class="food-img" src="<%= image_path('frito.png') %>">
							</div>
							<div class="food pizza">
								<img alt="pizza" class="food-img" src="<%= image_path('pizza.png') %>">
							</div>
							<div class="food refri">
								<img alt="refrigerante" class="food-img" src="<%= image_path('refri.png') %>">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer class="page-footer">
		<div class="row justify-content-end">
			<div class="col-lg-9 d-flex justify-content-center">
				<%= link_to 'Iniciar', formulario_imc_index_path, class: "btn-start" %>
			</div>
		</div>
	</footer>
</div>