<div class="div-container">

	<div class="row justify-content-end">
		<div class="col-lg-12 text-center">
			<h1>Parabéns, arrasou!</h1>
			<p>Poxa o seu imc é <%= number_with_precision(@imc, :precision => 2, separator: ",", scale: 2, :delimiter => '.') %></p>
			<%# raise @result_imc.inspect %>
			<h2><%= @result_imc %></h2>

			<p><%= @result_banana %></p>
			<p><%= @result_batata %></p>
			<p><%= @result_peixe %></p>

			<p><%= @result_fritura %></p>
			<p><%= @result_refri %></p>
			<p><%= @result_pizza %></p>

			<%= link_to "Voltar", imc_index_path, class: 'btn-voltar' %>
		</div>
	</dic>

</div>