<!DOCTYPE html>
<html>
  <head>
    <title>Hábitos saudáveis e IMC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible", content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag image_path('personagem.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="<%= controller.controller_path %>">
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>
